<h1>RMT Server Info</h1>

<%= link_to 'Â« Back', root_path %>


<div class="grid">
	<div>
		<h1>Products</h1>
	</div>
	<div></div>
	<div></div>
	<div></div>
	<!-- <form hx-get="<= current_path %>" hx-trigger="change"> -->
	<form>
		<legend>Per page:</legend>
		<select name="per_page" hx-on:change="this.form.submit()">
			<%= options_for_select(controller.per_page_choices, controller.per_page) %>
		</select>
		<input type="hidden" name="page" value="<%= controller.current_page %>">
	</form>
</div>

<table border="1" cellspacing="0" width="100%" cellpadding="5">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Type</th>
			<th width="40%">Description</th>
			<th>EULA</th>
		</tr>
	</thead>
	<% if @products.any? %>
	<tbody>
	<% @products.each_with_index do |product, idx|%>
			<tr>
				<td><%= idx+1 %></td>
				<td><%= product.friendly_name %></td>
				<td><%= product.product_type.humanize %></td>
				<td><%= sanitize product.description %></td>
				<td>
					<% if product.eula_url.blank? %>
						No EULA
					<% else %>
						<%= link_to 'EULA (license.txt) ðŸ“„ðŸ”—â†—ï¸', URI.join(product.eula_url, "license.txt").to_s %>
					<% end %>
				</td>
			</tr>
	<% end %>
	</tbody>
	<tfoot>
		<td colspan="8" align="center" class="text-center">
			<%= render 'pagination', locals: { current_page: controller.current_page, max_pages: @max_pages } %>
		</td>
	</tfoot>
 	<% else %>
  <tbody>
    <tr>
      <td colspan="5">
        No repositories found
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
