<h1>RMT Server Info</h1>

<%= link_to 'Â« Back', root_path %>
<h1>Products</h1>

<table border="1" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Description</th>
			<th>Type</th>
			<th>EULA</th>
		</tr>
	</thead>
	<tbody>
		<% if @products.any? %>
			<% @products.each_with_index do |product, idx|%>
			<tr>
				<td><%= idx+1 %></td>
				<td><%= product.friendly_name %></td>
				<td><%= sanitize product.description %></td>
				<td><%= product.product_type.humanize %></td>
				<td>
					<% if product.eula_url.blank? %>
						No EULA
					<% else %>
						<%= link_to 'EULA (license.txt) ðŸ“„ðŸ”—â†—ï¸', URI.join(product.eula_url, "license.txt").to_s %>
					<% end %>
				</td>
			</tr>
			<% end %>
		<% else %>
			<tr>
				<td colspan="3">
					No products found
				</td>
			</tr>
		<% end %>
	</tbody>
</table>